input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: -3px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  outline: none;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 12px;
  padding: 5px 3px;
  background-color: white;
  transition: all 0.5s ease;
}

.input-parent{
  position: fixed;
  width: 600px;
  height: 200px;
}