#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.menu-bar{
    position: fixed;
    top: 0;
    left:0;
    width: 250px;
    height: 100%;
    z-index: 10;
    background: whitesmoke;
    animation: anime 2s ease-in-out forwards;
}

@keyframes anime{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
